/* line 1, ../scss/swipestreak.scss */
.grid-container {
  clear: left;
}

/* line 5, ../scss/swipestreak.scss */
.tax-notice {
  color: #838C91;
  padding-left: 1em;
}

/* line 11, ../scss/swipestreak.scss */
.streak-product {
  float: left;
  width: 50%;
  min-height: 400px;
  overflow: hidden;
}
/* line 17, ../scss/swipestreak.scss */
.streak-product a {
  display: block;
  min-height: 400px;
}
/* line 21, ../scss/swipestreak.scss */
.streak-product .price {
  display: inline-block;
}
/* line 25, ../scss/swipestreak.scss */
.streak-product .add-to-cart {
  float: left;
}
/* line 28, ../scss/swipestreak.scss */
.streak-product .product-description {
  clear: both;
}
/* line 32, ../scss/swipestreak.scss */
.streak-product .streak-product-images {
  float: right;
  width: 50%;
  margin-top: -140px;
}
/* line 37, ../scss/swipestreak.scss */
.streak-product .streak-product-images ul {
  position: relative;
}
/* line 40, ../scss/swipestreak.scss */
.streak-product .streak-product-images ul li {
  max-width: 300px;
  list-style-type: none;
  position: absolute;
  display: none;
}
/* line 46, ../scss/swipestreak.scss */
.streak-product .streak-product-images ul li.current {
  display: block;
}
/* line 49, ../scss/swipestreak.scss */
.streak-product .streak-product-images ul li img {
  max-height: 300px;
}

/* line 58, ../scss/swipestreak.scss */
.StreakProductsPage .streak-product {
  width: 100%;
}
